
    {% extends 'layout/base.html.twig' %}

    {% block SuiteHead %}
        {{ include('FpJsFormValidatorBundle::javascripts.html.twig') }}{% endblock %}

    {% block body %}

            <div class="container">
                <div class="color-orange">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="animated fadeIn animated zoomInDown title2">
                                <img src="{{ asset('img/icon/logopetit.png') }}" class="animated pulse">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 hidden-sm-down animated pulse les-3-icons">
                            <a id="iconMenu" class="animated fadeIn" href="{{ path('menu') }}">
                                <img class="tailleIcon" src="{{ asset('img/icon/close.png') }}">
                                <div class="txtSousMenu">
                                    back
                                </div>
                            </a>
                            <a id="iconContact" class="animated fadeIn" href="{{ path('fos_user_registration_register') }}">
                                <img class="tailleIcon" src="{{ asset('img/icon/contact.png') }}">
                                <div class="txtSousMenu">
                                    contact
                                </div>
                            </a>
                            <a id="iconAccount" class="animated fadeIn" href="{{ path('fos_user_registration_register') }}">
                                <img class="tailleIcon" src="{{ asset('img/icon/account.png') }}">
                                <div class="txtSousMenu">my account
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="ligne2Form" class="row">
                    <div class="col-md-12">
                        ligne 2
                    </div>
                </div>

                <div id="ligne3Form" class="row">
                    <div class="col-md-8" >
                        <form>
                            <div class="one">
                            <p>
                                username<br>
                                <input name="..." data-validation="url">
                            </p>
                            <p>
                                E-mail<br>
                                <input name="..." data-validation="email" data-validation-help="Som help info...">
                            </p>

                                <p>
                                    Phone<br>
                                    <input name="..." data-validation="alphanumeric" data-validation-allowing="-_">
                                </p>

                            <p>
                                <input id="bouton" type="submit">
                            </p>
                            </div>

                            <div class="two">
                            <p>
                                message<br>
                                <input name="..." data-validation="email" data-validation-help="Som help info...">
                                </p>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-4">
                        <div id="boutonNext" class="animated fadeIn">
                            <input id="button"  type="button"/>
                        </div>
                    </div>

                </div>
            </div>

        {% block SuiteJavascripts %}  <script src="{{ asset('') }}"></script>
            <script src="{{ asset('') }}"></script>
        {% endblock %}
    {% endblock %}









