
    <div class="container">
    <div id="ligne1" class="row">
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="animated fadeIn animated zoomInDown title">
        <img src="{{ asset('img/icon/logopaysage.png') }}" class="animated pulse" />
    </div>
</div>
<div class="col-md-6 hidden-sm-down"></div>
<div class="col-md-2 hidden-sm-down animated pulse les-3-icons">
    <button class="animated fadeIn icon-menu button" href="{{ path('menu') }}">
        <img class="tailleIcon" src="{{ asset('img/icon/menu.png') }}">
        <div class="txtSousMenu">
            menu
        </div>
    </button>
    <button class="animated fadeIn icon-contact button" href="{{ path('fos_user_registration_register') }}">
        <img class="tailleIcon" src="{{ asset('img/icon/contact.png') }}">
        <div class="txtSousMenu">
            contact
        </div>
    </button>
    <button class="animated fadeIn icon-account button" href="{{ path('fos_user_registration_register') }}">
        <img class="tailleIcon" src="{{ asset('img/icon/account.png') }}">
        <div class="txtSousMenu">
            account
        </div>
    </button>

</div>
    </div>
    </div>
