{% extends 'layout/base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body_id 'home' %}
{% block body_class 'img1' %}
{% block body  %}

        <div id="ligne2" class="row">
            <div class="col-12 bandeau-noir animated slideInRight">
            </div>
            <div class="col-md-8 hidden-sm-down">
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="learn">
                    <a class="btn btn-africaunchained" href="{{ path('projet') }}">
                        < learn + >
                    </a>
                </div>
            </div>
        </div>

        <div id="ligne3" class="row">
            <div class="col-md-6 hidden-sm-down hidden-xs-down">
                <div id="boutonNext" class="animated fadeIn">
                    <button id="buttonNext" class="buttonS"/>
                </div>
            </div>

            <div id="paragraphe" class="col-md-6 col-sm-12 col-xs-12">
                <div class="citeEtLine">
                    <img id="cite"  src="{{ asset('img/cite.png') }}">
                    <img class="line1" src="{{ asset('img/icon/line.png') }}">
                </div>
                <div  class="text">
                    <h1>Blockchain is</h1>
                    <blockquote class="sizeText">a remarkable cryptographic
                        <br>achievement ant the ability to create
                        <br>something that is not duplicable in
                        <br>the digital world has enormous value.
                    </blockquote>
                </div>
                <img class="line2" src="{{ asset('img/icon/line.png') }}">
                <br>
                <div class="motFin">
                    M.Ravony, CEO ,Co-Founder
                </div>
            </div>
        </div>
        </div>

            <div class="container">
                <div class="row">
                    <div id="footer" class="col-lg-12 hidden-md-up col-sm-offset-12 col-xs-offset-12 les-3-icons">
                        <button class="animated fadeIn icon-menu button" href="{{ path('menu') }}">
                            <img class="tailleIcon" src="{{ asset('img/icon/menu.png') }}">
                            <div class="txtSousMenu">
                                menu
                            </div>
                        </button>
                            <button class="animated fadeIn icon-contact button" href="{{ path('fos_user_registration_register') }}">
                                <img class="tailleIcon" src="{{ asset('img/icon/contact.png') }}">
                                <div class="txtSousMenu">
                                    contact
                                </div>
                            </button>
                            <button class="animated fadeIn icon-account button" href="{{ path('fos_user_registration_register') }}">
                                <img class="tailleIcon" src="{{ asset('img/icon/account.png') }}">
                                <div class="txtSousMenu">
                                    account
                                </div>
                            </button>
                                <button class="animated fadeIn icon-account button buttonS">
                                    <img class="tailleIcon" src="{{ asset('img/icon/slide suivant.png') }}">
                                    <div class="txtSousMenu">
                                        next
                                    </div>
                            </button>
                </div>
            </div>
            </div>

    <div id="ligne2-2" class="row" >
        <div class="col-12 bandeau-noir2 animated slideInRight">
        </div>
        <div class="col-md-8 hidden-sm-down">
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="learn">
                <a class="btn btn-africaunchained" href="{{ path('projet') }}">
                    < project + >
                </a>
            </div>
        </div>
    </div>

    <div id="paragraphe2" class="col-md-6 col-sm-12 col-xs-12 animated zoomIn ">
    <div class="citeEtLine2">
        <img class="cite2"  src="{{ asset('img/cite.png') }}">
        <img class="line1-2" src="{{ asset('img/icon/line.png') }}">
    </div>
    <div class="text">
    <h1>I'm reasonably <br>confident</h1>
    <blockquote class="sizeText">that the blockchain will change a
    <br>great deal of financial practice and
    <br> exchange.
    </blockquote>
    </div>
    <img class="line2Home2" src="{{ asset('img/icon/line.png') }}"><br>
    <div class="motFin2">
        C.H.Ravony, Idea Architect,Co-Founder
    </div>
    </div>

{% endblock %}

