{% extends 'layout/base.html.twig' %}

{% block body_id 'menu'%}
{% block body %}

    <div class="container">
    <div id="ligne2Menu" class="row">

    <div id="photo1" class="col-md-5 hidden-sm-down">
        <div  style="margin-left: 5%;margin-top: 15%">
        <h1>It's driving a <br>revolution</h1>
        <img class="line1" src="{{ asset('img/line.png') }}"><br>
        W.TEKAM, Blockchain Engineer
    </div>
        <div class="btn-organisation animated fadeIn">
            <a class="btn btn-africaunchained" href="{{ path('projet') }}">
                < organisation + >
            </a>
        </div>
    </div>

<div id="photo2"class="col-md-7">

    <div style="margin-left: 10%;margin-top: 7%">
        <h1>Every person</h1>
        <blockquote>needs to know about blockchain
        <br>because it might be one of the world's
        <br>most important developments.
        </blockquote>
    </div>
    <div style="margin-left: 20%">
        <img style="margin-left: 53%" class="line1" src="{{ asset('img/line.png') }}"><br>
       <p style="margin-left: 35%">M.Ratsiraka, Developper, Co-Founder</p>
    </div>
    <div class="btn-projet animated fadeIn">
        <a class="btn btn-africaunchained" href="{{ path('projet') }}">
            < project + >
        </a>
    </div>

</div>
</div>

    <footer id="ligne3Menu" class="row">
<div id="photo3" class="col-md-7">
    <div class="btn-publications animated fadeIn">
        <a class="btn btn-africaunchained" href="{{ path('projet') }}">
            < publications + >
        </a>
    </div>
    <div style="margin-left: 10%;margin-top: 15%">
        <h1>Blockchain is more</h1>
        <blockquote>than just ICT innovation,but facilitates new
            <br>types of economic organization and governance.<br>
        </blockquote>
    </div>
    <br>
    <div style="margin-left: 30%">
        <img style="margin-left: 53%" id="line1" src="{{ asset('img/line.png') }}"><br>
        <p style="margin-left: 35%">M.W.Samai, Blockchain Enginneer</p>
    </div>
</div>
        <div id="photo4" class="col-md-5 hidden-sm-down">
            <div class="btn-service animated fadeIn">
                <a class="btn btn-africaunchained" href="{{ path('projet') }}">
                    < services + >
                </a>
            </div>
            <div style="margin-left: 5%;margin-top: 5%">
                <h1>Free of politics<br>& human error</h1>
                <img class="line1" src="{{ asset('img/line.png') }}"><br>
                W.TEKAM, Blockchain Enginneer
            </div>

        </div>

    </footer>

</div>

{% endblock %}