
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title></title>
    {#<link href="{{ asset('css/test.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">#}
    <link href="{{ asset('css/animsition.css') }}" rel="stylesheet">
</head>
<body class="animsition" style="background: #61ff64">



{#<div id="slider">#}
{#<figure>#}
{#<img src="{{ asset('img/home.png') }}">#}
{#<img src="{{ asset('img/foto5.jpg') }}">#}
{#</figure>#}
{#</div>#}

{#<div class="blur">#}
{#<img style="height: 100%;width: 100%" src="{{ asset('img/home.png') }}" class="bg">#}
{#</div>#}

{#<svg version="1.1" xmlns="http://www.w3.org/2000/svg">#}
{#<filter id="blur">#}
{#<feGaussianBlur stdDeviation="4" />#}
{#</filter>#}
{#</svg>#}


{#<div class="container">#}

{#<div class="col-lg-offset-2 col-lg-8">#}

{#<div class="carousel slide" data-ride="carousel">#}

{#<div class="carousel-inner">#}

{#<div class="item active"> <img alt="" src="{{ asset('img/home.png') }}"></div>#}

{#<div class="item"> <img alt="" src="{{ asset('img/foto5.jpg') }}"></div>#}

{#</div>#}

{#</div>#}

{#</div>#}

{#</div>#}

<p></p>



<script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
<script src="{{ asset('js/animsition.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
{#<script src="{{ asset('js/carousel.js') }}"></script>#}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>
</html>







